
@media (min-width: 600px) {
  .container {
    display: grid;
    justify-content: center;
    grid-template-columns: 30vw 30vw 30vw;
    gap: 1vh 1vh;
  }
}
@media (max-width: 599px){
  .container {
    display: grid;
    justify-content: center;
    grid-template-columns: 100vw;
  }
}


.clickable {
  cursor: pointer;
}
